.popoverStyle {
    z-index: 9999;
}

.popoverStyle h5 {
    color: white;
}

.popoverStyle title {
    padding: 0;
}
.popover-header {
    background-color: rgb(95, 175, 245);
    border: 0;
    border-radius: 0;
}

.box {
    position: relative;
    height: 30px;
    overflow: hidden;
    /* background-color: transparent; */
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.box .fc-sticky {
    position: relative;
	bottom: 90%;
	z-index: 5;
	text-align: center;
}
/* .box:after {
    content: ' ';
    border-top: 100vh solid #dd4f39;
    border-left: 100vw solid transparent;
    width: 0;
    position: absolute;
} */

.box1 {
    height: 30px;
    clip-path: polygon(100% 100%, 0% 100%, 100% 0);
}

.puff-in-center {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

 @-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(1.4);
              transform: scale(1.4);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

