
.rdt_TableHead {
    z-index: 10 !important;
}

/* Datatable эхний 2 мөрийг болон сүүлийн 1 мөр
    ID = datatableLeftTwoRightOne
*/
#datatableLeftTwoRightOne .rdt_TableCol:first-child,
#datatableLeftTwoRightOne .rdt_TableCell:first-child {
    position: sticky;
    left: 0px;
    backdrop-filter: blur(30px);
    z-index: 5;
}

#datatableLeftTwoRightOne .rdt_TableCol:nth-child(2),
#datatableLeftTwoRightOne .rdt_TableCell:nth-child(2) {
    box-shadow: 6px 0px 6px -3px rgba(9, 30, 66, 0.25);

    left: 30px;
    backdrop-filter: blur(30px);
    z-index: 4;
}

#datatableLeftTwoRightOne .rdt_TableCol:last-child,
#datatableLeftTwoRightOne .rdt_TableCell:last-child {
    box-shadow: -6px 0px 6px -3px rgba(9, 30, 66, 0.25);
    position: sticky;
    right: 0px;
    backdrop-filter: blur(30px);
    z-index: 5;
}


@media only screen and (max-width: 576px)
{
    #datatableLeftTwoRightOne .rdt_TableCol:first-child,
    #datatableLeftTwoRightOne .rdt_TableCell:first-child {
        box-shadow: none;
        position: static;
    }

    #datatableLeftTwoRightOne .rdt_TableCol:nth-child(2),
    #datatableLeftTwoRightOne .rdt_TableCell:nth-child(2) {
        box-shadow: none;
        position: static;
    }

    #datatableLeftTwoRightOne .rdt_TableCol:last-child,
    #datatableLeftTwoRightOne .rdt_TableCell:last-child {
        box-shadow: none;
        position: static;
    }
}


/* Datatable эхний 2 мөрийг
    ID = datatableLeftTwo
*/
#datatableLeftTwo .rdt_TableCol:first-child,
#datatableLeftTwo .rdt_TableCell:first-child {
    position: sticky;
    left: 0px;
    backdrop-filter: blur(30px);
    z-index: 5;
}

#datatableLeftTwo .rdt_TableCol:nth-child(2),
#datatableLeftTwo .rdt_TableCell:nth-child(2) {
    box-shadow: 6px 0px 6px -3px rgba(9, 30, 66, 0.25);
    position: sticky;
    left: 100px;
    backdrop-filter: blur(30px);
    z-index: 5;
}

@media only screen and (max-width: 576px)
{
    #datatableLeftTwo .rdt_TableCol:first-child,
    #datatableLeftTwo .rdt_TableCell:first-child {
        position: static;
    }

    #datatableLeftTwo .rdt_TableCol:nth-child(2),
    #datatableLeftTwo .rdt_TableCell:nth-child(2) {
        position: static;
    }
}


/* Datatable эхний 1 мөрийг болон сүүлийн 1 мөр
    ID = datatableLeftOneRightOne
*/
#datatableLeftOneRightOne .rdt_TableCol:first-child,
#datatableLeftOneRightOne .rdt_TableCell:first-child {
    box-shadow: 6px 0px 6px -3px rgba(9, 30, 66, 0.25);
    position: sticky;
    left: 0px;
    backdrop-filter: blur(30px);
    z-index: 5;
}

#datatableLeftOneRightOne .rdt_TableCol:last-child,
#datatableLeftOneRightOne .rdt_TableCell:last-child {
    box-shadow: -6px 0px 6px -3px rgba(9, 30, 66, 0.25);
    position: sticky;
    right: 0px;
    backdrop-filter: blur(30px);
    z-index: 5;
}

@media only screen and (max-width: 576px)
{
    #datatableLeftOneRightOne .rdt_TableCol:first-child,
    #datatableLeftOneRightOne .rdt_TableCell:first-child {
        position: static;
    }

    #datatableLeftOneRightOne .rdt_TableCol:last-child,
    #datatableLeftOneRightOne .rdt_TableCell:last-child {
        position: static;
    }
}


/* Datatable эхний 1 мөрийг
    ID = datatableLeftOne
*/
#datatableLeftOne .rdt_TableCol:first-child,
#datatableLeftOne .rdt_TableCell:first-child {
    box-shadow: 6px 0px 6px -3px rgba(9, 30, 66, 0.25);
    position: sticky;
    left: 0px;
    backdrop-filter: blur(30px);
    z-index: 5;
}


@media only screen and (max-width: 576px)
{
    #datatableLeftOne .rdt_TableCol:first-child,
    #datatableLeftOne .rdt_TableCell:first-child {
        position: static;
    }
}

#expandableRowsId .cLPfJ{
    position: sticky;
    left: 0px;
    backdrop-filter: blur(30px);
    z-index: 5;
}

@media only screen and (max-width: 576px)
{
    #datatableLeftTwoRightOne .rdt_TableCell:first-child {
        position: static;
    }
}


/* Datatable эхний 2 мөрийг болон сүүлийн 2 мөр
    ID = datatableLeftTwoRightTwo
*/

#datatableLeftTwoRightTwo .rdt_TableCol:first-child,
#datatableLeftTwoRightTwo .rdt_TableCell:first-child {
    position: sticky;
    left: 0px;
    backdrop-filter: blur(30px);
    z-index: 5;
}

#datatableLeftTwoRightTwo .rdt_TableCol:nth-child(2),
#datatableLeftTwoRightTwo .rdt_TableCell:nth-child(2) {
    box-shadow: 6px 0px 6px -3px rgba(9, 30, 66, 0.25);
    position: sticky;
    left: 80px;
    backdrop-filter: blur(30px);
    z-index: 5;
}

#datatableLeftTwoRightTwo .rdt_TableCol:last-child,
#datatableLeftTwoRightTwo .rdt_TableCell:last-child {
    box-shadow: -6px 0px 6px -3px rgba(9, 30, 66, 0.25);
    position: sticky;
    right: 0px;
    backdrop-filter: blur(30px);
    z-index: 5;
}

#datatableLeftTwoRightTwo .rdt_TableCol:nth-last-child(2),
#datatableLeftTwoRightTwo .rdt_TableCell:nth-last-child(2) {
    box-shadow: -6px 0px 6px -3px rgba(9, 30, 66, 0.25);
    position: sticky;
    right: 150px;
    z-index: 5;
    backdrop-filter: blur(30px);
    position: -webkit-sticky; /* Safari */
}

