@font-face {
    font-family: "CMs Urga";
    src: local("CMSUG"),
      url("../assets/fonts/CMSUG.ttf") format("truetype");
}

@font-face {
    font-family: "CMs Urga dp";
    src: local("CMSUGDP"),
      url("../assets/fonts/CMSUGDP.ttf") format("truetype");
}

@font-face {
  font-family: "CMSUBDP";
  src: local("CMSUBDP"),
    url("../assets/fonts/CMSUBDP.ttf") format("truetype");
}

@font-face {
  font-family: "CMSUB";
  src: local("CMSUB"),
    url("../assets/fonts/CMSUB.ttf") format("truetype");
}

@font-face {
  font-family: "CMSHRDP";
  src: local("CMSHRDP"),
    url("../assets/fonts/CMSHRDP.ttf") format("truetype");
}

@font-face {
  font-family: "CMSHR";
  src: local("CMSHR"),
    url("../assets/fonts/CMSHR.ttf") format("truetype");
}
