.fallback-spinnermd {
	height: 100%;
	// display: flex;
	// align-items: center;
	// justify-content: center;

	&.app-loadermd {
		flex-direction: column;
		.loadingf {
			margin-top: 1rem;
		}
	}

	.loadingmd {
		width: 100px;
		height: 100px;
		// border-radius: 50%;
		// border: 3px solid transparent;
		// -webkit-box-sizing: border-box;
		// box-sizing: border-box;

		.effect-1md,
		.effect-2md,
		.effect-3md {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-left: 2px solid rgb(2, 0, 131);
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}

		.effect-1md {
			position: absolute;
			animation: rotate 1s ease infinite;
		}
		.effect-2md {
			position: absolute;
			animation: rotateOpacity 1s ease infinite 0.1s;
		}
		.effect-3md {
			-webkit-animation: rotateOpacity 1s ease infinite 0.2s;
			animation: rotateOpacity 1s ease infinite 0.2s;
		}

		.loadingmd .effectsmd {
			transition: all 0.3s ease;
		}
	}
}

.fallback-logomd {
	// position: absolute;
	// right: 70px;
}

@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
	}
}
@keyframes rotateOpacity {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 0.1;
	}
	100% {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn);
		opacity: 1;
	}
}

.background-glassmd {
    z-index: 9999;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
	height: 100vh;
	position:absolute;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.background-lightmd {
    z-index: 10000;
    // position: absolute;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// align-items: center;
}


// Харанхуй горим дээрхи лоадер

.dark-layout{
	.fallback-spinnermd {
		.loadingmd {
			.effect-1md,
			.effect-2md,
			.effect-3md {
				border-left: 2px solid rgb(255, 255, 255);
			}

		}
	}}