
@page {
    size: A4 landscape;
    margin: 0px;
}

@media print {
    html,
    body {
        width: 1120px !important;
        border: 1px solid black;
        letter-spacing: 0.4px;
        font-size: 9px !important;
    }
    #breakInside {
        break-inside: avoid;
    }
}
