/* .state-print {
    background-color: aqua !important;
} */

@page {
    size: A4;
    margin: 60px 20px 0px 20px;
}

@media print {
    html,
    body {
        width: 1090px !important;
    }
    #breakInside {
        break-inside: avoid;
    }
}

.border-custom {
    border: 10px, solid, 'black' !important;
}

.fontchange{
    font-family: 'Times New Roman', Times, serif;
}