.fontchange{
    font-family: 'Times New Roman', Times, serif;
}

@page {
    size: portrait;
    margin: 0;
    margin-right: 30px;
    body { margin: 1.6cm; }
}

@media print {
// print дарах үед угтах css
}