/* Tooltip container */
.ctooltip {
  position: relative;
}

/* Tooltip text */
.ctooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  /* Position the tooltip above */
  left: 50%;
  margin-left: -60px;
  /* Offset the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when hovering over the container */
.ctooltip:hover .ctooltiptext {
  visibility: visible;
  opacity: 1;
}

.studentsQuestionsTable {
  width: 100%;
  border: 1px solid black;
}


.studentsQuestionsTable td {
  border: 1px solid black;
  padding: 2px 6px;
}

.qtc1 {
  color: #fc7676;
}

.qtc1 {
  color: #9dd241;
}

.qtc1 {
  color: #4a87ff;
}
