tr, th, td {
    padding: 1rem;
    border: 1px solid rgba(56, 56, 56, 0.298);
}

.proper-font-color{
    color: rgb(83, 83, 83);
}

.dark-layout {
    tr, th, td {
        padding: 1rem;
        border: 1px solid rgba(150, 150, 150, 0.193);
    }
    .proper-font-color{
        color: rgb(191, 191, 191);
    }
}


@media print{

    .main > * {
        display: none;
    }

    .main > .print {
        display: initial;
    }

}