.tabscroll {
  --sb-track-color: #232e33;
  --sb-thumb-color: var(--bs-primary);
  --sb-size: 15px;

}

.tabscroll::-webkit-scrollbar {
  width: var(--sb-size);
}

.tabscroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
    transition: 0.3s;
}

.tabscroll::-webkit-scrollbar-thumb {
  // background: var(--sb-thumb-color);
    background: linear-gradient(to bottom right, var(--bs-primary), #5176a39b);
    border-radius: 10px;
    transition: 0.3s;
}

