
// @page {
//     size: A4 portrait;
//     margin: 10px 30px 10px 30px
// }

.fontchange{
    font-family: 'Times New Roman', Times, serif;
}

.pageBreakInside {
    display: inline-block;
    page-break-inside: avoid;
    // page-break-after: always;
}
