.small-table {
    th,
    td {
      padding: 0.3rem; // Adjust the padding as needed
      font-size: 0.9rem; // Adjust the font size as needed
    }
  }
  .table-container {
    max-height: 300px; // Adjust the height as needed
    overflow: auto;
  }
  