.dashcard{
    background-color: #fe4d4d1a;
    color: #434343 !important;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    .item_color{
        color: #ea4949 !important;
    }
}

.numberstyle{
    font-weight: 600;
    font-size: 30px;
    // color: rgba(0, 0, 0, 0.8);
}

.dark-layout{
    .dashcard{
        background-color: #fe4d4d1a;
        color: #d7d7d7 !important;
        padding: 10px;
        border-radius: 10px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        .item_color{
            color: #ea4949 !important;
        }
    }
}