.lesson-img {
    object-fit: 'cover';
    position: relative;
    transition: transform 0.5s ease-in;
    transform: translateY(0px);
}

.lesson-img:hover
{
    transform: translateY(5px);
}

.material-img {
    width: 22px !important;
    height: 22px !important;
    object-fit: 'cover';
}

.nav-week {
    right: auto;
    left: 0;
}

.list-group-item.active {
    background-color: #599cf4 !important;
    border-color: white;
}

.news img {
    width: 600px !important;
}

.material{
    font-size: 15px !important;
    text-decoration: underline !important;
}

.que {
    clear: left;
    text-align: left;
    margin: 0 auto 1.8rem auto;
}

.que .info {
    float: left;
    width: 7em;
    padding: 0.5rem;
    margin-bottom: 1.8rem;
    background-color: #f8f9fa;
    border: 1px solid #cad0d7;
}

.que h3.no {
    margin: 0;
    font-size: .8em;
    line-height: 1;
}

.que .content {
    margin: 0 0 0 8.5em
}

.que .formulation{
    color: #001a1e;
    background-color: #e7f3f5;
    border-color: #b8dce2;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 0 solid transparent;
}

.qtext {
    margin-bottom: 1rem;
}

.que .ablock {
    margin: 0.7em 0 0.3em 0;
}

.qnbutton {
    display: block;
    position: relative;
    float: left;
    background: #ddd;
    text-align: center;
    padding: 0;
    font-size: 14px;
    text-decoration: none;
    line-height: 20px;
    height: 40px;
    width: 30px;
    border-radius: 3px;
    border: 0;
    margin: 0 6px 6px 0;
}

.trafficlight{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    background: #fff none center / 10px no-repeat scroll;
    background-color: #6c757d;
    height: 20px;
    margin-top: 20px;
    border-radius: 0 0 3px 3px;
}

