.each_students{
    padding: 1rem;
}

// .print_samples{
//     width: ;
// }

.each_pages{
    // transform: scale(0.2);
    // flex-shrink: 2;
    // height: 500px;
    width: 100%;
    border: 1px solid rgba(132, 132, 132, 0.233);
}

