
.tushaal table,
.tushaal tr,
.tushaal th,
.tushaal td {
    border: 1px solid rgba(0, 0, 0, 0.239);
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;
    color: #000;
    font-size: 13px;
    font-weight: 500;
}

@page {
    margin: 20px;
}