.table thead th {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    font-size: 0.857rem !important;
    letter-spacing: 0.5px !important;
    text-transform: uppercase !important;
    vertical-align: top !important;
    padding: 0.72rem 1.5rem !important;
    height: 38px !important;
    min-height: 0px !important;
    min-width: 80% !important;
    max-width: 100% !important;
    white-space: nowrap !important;
}

.table tbody tr td {
    height: 53px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    font-size: 13px !important;
    padding: 0.72rem 1.5rem !important;
    min-width: 80% !important;
    max-width: 100% !important;
    white-space: nowrap !important;
}
