@page {
    size: A4 landscape;
    margin: 30px 30px 20px 30px;
}

body {
    letter-spacing: 0.4px;
    background-color: white !important;
    color: black;
}

table {
    font-size: 8px;
}

.page-break {
    page-break-after: always;
}

header {
    position: fixed;
    top: 0px;
}

footer {
    position: fixed;
    bottom: 0px;
}

.mini-cell {
    width: 6.25;
}

.body-cell {
    width: 56.25%;
    line-height: 1;
    padding: 5px 4px;
    text-align: start;
}

.footer1-cell {
    width: 12%;
}

.footer2-cell {
    width: 10%;
}

.footer3-cell {
    width: 18%;
}
