.customopacity{
    opacity: 35%;
}

.dark-layout{

    .fontdark{
        color: black;
    }
    .irtstabledark{
        table, th, td, tr {
            background-color: #10163a08
          };
    }
}

